html {
	z-index: 1;
	min-height: 466.70000000000005px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F5F5FA;
	padding-bottom: 479.29999999999995px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u666-4 {
	z-index: 23;
	min-height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #949498;
	background-color: transparent;
	border-radius: 10px;
	font-size: 23px;
	text-align: center;
	line-height: 38px;
	margin-top: 38px;
	position: relative;
	width: 11.72%;
	margin-left: 86.05%;
}

#u225-4 {
	z-index: 7;
	min-height: 48px;
	background-color: transparent;
	font-size: 32px;
	text-align: center;
	line-height: 38px;
	margin-top: 10%;
	position: relative;
	width: 30%;
	margin-left: 35%;
}

#u228 {
	z-index: 11;
	border-style: solid;
	border-width: 1px;
	border-color: #949498;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-top: 48px;
	position: relative;
	width: 23.49%;
	margin-left: 38.23%;
}

#u228_position_content {
	padding-top: 15px;
	padding-bottom: 8px;
	width: 100%;
}

#u234-4 {
	z-index: 13;
	min-height: 36px;
	background-color: transparent;
	font-size: 22px;
	line-height: 34px;
	color: #949498;
	text-indent: 8px;
	position: relative;
	width: 90.47%;
	margin-left: 5.33%;
}

#u231 {
	z-index: 12;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #949498;
	margin-top: 9px;
	position: relative;
	width: 100%;
	left: -0.23%;
}

#pu237-4 {
	z-index: 17;
	margin-top: 15px;
	width: 90.47%;
	margin-left: 5.33%;
}

#u237-4 {
	z-index: 17;
	min-height: 36px;
	background-color: transparent;
	font-size: 22px;
	line-height: 34px;
	color: #949498;
	text-indent: 8px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u512 {
	z-index: 21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 8.58%;
	left: 91.43%;
}

#u508 {
	z-index: 22;
	display: block;
	width: 100%;
}
