html {
	z-index: 1;
	min-height: 912.75px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F5F5FA;
	padding-bottom: 37.25px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	z-index: 2;
	min-height: 42px;
	background-color: #323232;
}

#header_bottom {
	z-index: 11;
	margin-top: 17px;
	width: 100%;
}

#search_field {
	z-index: 11;
	background-color: #E3E3E8;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 52.5%;
	left: 23.75%;
}

#u106 {
	z-index: 12;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 3.48%;
	left: 1.59%;
}

#u116-4 {
	z-index: 14;
	min-height: 35px;
	background-color: transparent;
	font-size: 24px;
	line-height: 32px;
	color: #949498;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 91.47%;
	left: 6.55%;
}

#reset{
	z-index: 87;
	min-height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #949498;
	background-color: transparent;
	border-radius: 10px;
	font-size: 23px;
	text-align: center;
	line-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 11.72%;
	left: 87.45%;
}
#logout{
	z-index: 87;
	min-height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #949498;
	background-color: transparent;
	border-radius: 10px;
	font-size: 23px;
	text-align: center;
	line-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	width: 11.72%;
	left: 87.45%;
}

#filter_buttons {
	z-index: 18;
	margin-top: 53px;
	width: 100%;
}

#u119 {
	z-index: 18;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 11.36%;
	left: 23.75%;
}

#pu125 {
	z-index: 23;
	width: 92.67%;
	margin-left: 7.34%;
}

#u125 {
	z-index: 23;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 26.74%;
}

#u122-4 {
	z-index: 19;
	min-height: 53px;
	background-color: transparent;
	line-height: 54px;
	font-size: 36px;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 24.76%;
	left: 75.25%;
}

#u135-4 {
	z-index: 25;
	min-height: 26px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #8A8A8D;
	line-height: 41px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
	width: 100%;
}

#u138 {
	z-index: 29;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 11.36%;
	left: 37.5%;
}

#u138_position_content {
	padding-top: 1px;
	width: 100%;
}

#pu165 {
	z-index: 59;
	width: 93.12%;
	margin-left: 6.89%;
}

#u165 {
	z-index: 59;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 26.11%;
}

#u147-5 {
	z-index: 32;
	min-height: 53px;
	background-color: transparent;
	line-height: 42px;
	font-size: 28px;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 24.64%;
	left: 75.37%;
}

#u156-4 {
	z-index: 47;
	min-height: 36px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #8A8A8D;
	line-height: 41px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 100%;
}

#u141 {
	z-index: 30;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 11.36%;
	left: 51.25%;
}

#pu175 {
	z-index: 61;
	width: 93.12%;
	margin-left: 6.89%;
}

#u175 {
	z-index: 61;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 26.61%;
}

#u150-5 {
	z-index: 37;
	min-height: 54px;
	background-color: transparent;
	line-height: 42px;
	font-size: 28px;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 24.64%;
	left: 75.37%;
}

#u159-4 {
	z-index: 51;
	min-height: 36px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #8A8A8D;
	line-height: 41px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 100%;
}

#u159-2 {
	padding-right: 5px;
}

#u144 {
	z-index: 31;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	width: 11.41%;
	left: 64.85%;
}

#pu185 {
	z-index: 63;
	width: 95.9%;
	margin-left: 4.11%;
}

#u185 {
	z-index: 63;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 25.24%;
}

#u153-5 {
	z-index: 42;
	min-height: 39px;
	background-color: transparent;
	line-height: 42px;
	font-size: 28px;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 23.81%;
	left: 76.2%;
}

#u147-3,
#u150-3,
#u153-3 {
	line-height: 0px;
}

#u147,
#u150,
#u153 {
	line-height: 42px;
}

#u147-2,
#u150-2,
#u153-2 {
	font-size: 36px;
	line-height: 54px;
}

#u162-4 {
	z-index: 55;
	min-height: 36px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #8A8A8D;
	line-height: 41px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
	width: 100%;
}

#categories_list {
	z-index: 65;
	margin-top: 29px;
	width: 100%;
}
#categories_list__header p{
	z-index: 66;
	min-height: 48px;
	background-color: transparent;
	text-indent: 11px;
	font-size: 36px;
	line-height: 62px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 20.13%;
	left: 23.75%;
}

#categories_list__header a:last-child {
	z-index: 70;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #007AFF;
	text-indent: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 8.29%;
	left: 67.3%;
}

#categories_list__content {
	z-index: 65;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	width: 52.5%;
	left: 23.75%;
}

.category_icon {
	z-index: 74;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 5.16%;
	left: 1.69%;
}

.category__content {
	z-index: 0;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 28px;
	width: 91.18%;
	margin-left: 8.83%;
}

.pu566-4 {
	z-index: 78;
	width: 98.37%;
}

.category_name {
	z-index: 78;
	min-height: 52px;
	background-color: transparent;
	font-size: 26px;
	line-height: 52px;
	position: relative;
	margin-right: -10000px;
	width: 70%;
}

.category_count {
	z-index: 82;
	min-height: 29px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #5F5F69;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 4.32%;
	left: 92.04%;
}

.category_arrow {
	z-index: 76;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	width: 2.55%;
	left: 97.46%;
}

.line_list {
	z-index: 86;
	height: 1px;
	background-color: #949498;
	margin-top: 18px;
	position: relative;
	width: 100%;
}

.category{
	padding: 0 0 100px 0;
}


.center{
 display: block;
 margin: 0 auto;
}

#back {
	z-index: 39;
	min-height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #949498;
	background-color: transparent;
	border-radius: 10px;
	font-size: 23px;
	text-align: center;
	line-height: 38px;
	margin-top: 33px;
	position: relative;
	width: 11.72%;
	margin-left: 3%;
}


#Add_Category {
	z-index: 21;
	width: 22.58%;
	padding: 30px 0 0 30px;
}

#u450 {
	z-index: 21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 15%;
}

#u450_img {
	width: 100%;
}

#u863-4 {
	z-index: 40;
	min-height: 36px;
	border-style: solid;
	border-width: 2px;
	border-color: #F7931E;
	background-color: transparent;
	border-radius: 10px;
	color: black;
	line-height: 42px;
	font-size: 21px;
	text-align: center;
	text-indent: -4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 82.2%;
	left: 16.92%;
	margin-left: 20px;
}