{% extends 'layout.html' %}

{% load static %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- column -->

   <a class="nonblock nontext rounded-corners clearfix colelem" id="u666-4" href="{% url 'registration' %}">Регистрация</a>
   <div class="clearfix colelem" id="u225-4"><!-- content -->
    <p>Войти в iReminder</p>
   </div>
   <div class="rounded-corners clearfix colelem" id="u228"><!-- column -->
   <form method="post">
    {% csrf_token %}
        <div class="position_content" id="u228_position_content">
         <div class="clearfix colelem" id="u234-4"><!-- content -->
          <input name="login" placeholder="Логин">
         </div>
         <div class="colelem" id="u231"><!-- simple frame --></div>
         <div class="clearfix colelem" id="pu237-4"><!-- group -->
          <div class="clearfix grpelem" id="u237-4"><!-- content -->
           <input type="password" name="password" placeholder="Пароль">
          </div>
         <input type="submit" class="nonblock nontext clip_frame grpelem" id="u512">
          <img class="svg" id="u508" src="{% static 'images/enter.svg' %}" alt="Войти"/></input>
         </div>
        </div>
   </form>
   </div>
  </div>

{% endblock %}
