{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <a class="nonblock nontext rounded-corners clearfix colelem" id="u669-4" href="{% url 'login' %}">Войти</a>
    <div id="center__heading" class="clearfix colelem">
        <h4>Регистрация в iReminder</h4>
    </div>
    <div class="pointer_cursor rounded-corners clearfix colelem" id="u475"><!-- column -->
        <form method="post">
        {% csrf_token %}
            {{ info }}

            {{ form|crispy }}
            <button  type="submit"  class="btn btn-success center">Создать аккаунт</button>
       </form>
    </div>
{% endblock %}
